<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                background: #111011;
                color: #fee37f;
                font-family: monospace;
                overflow: hidden;
            }
            .error {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .error a {
                cursor: pointer;
            }
        </style>
        <title>Servemon Error</title>
    </head>
    <body>
        <div class="error">
            <p><%= error %></p>
        </div>
    </body>
</html>
