<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Servemon Error</title>
    </head>
    <body>
        <p style="color: #444" style="font-family: monospace">
            The file <b style="color: red"><%= url %></b> was not found on the
            server.
        </p>
    </body>
</html>
