/* Default styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #444;
}

/* Container (Main Content) */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    color: rgb(200, 196, 196);
}

/* Buttons Wrapper */

.button-wrapper {
    margin-top: 15px;
    margin-bottom: 45px;
}

.button-wrapper a {
    text-decoration: none;
    color: rgb(200, 196, 196);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(200, 196, 196);
    transition: all 0.3s ease-in-out;
}

.button-wrapper .github {
    background-color: #333;
    color: #fff;
}

.button-wrapper .npm {
    background-color: #cb0101;
    margin-left: 7px;
    color: #fff;
}

/* Footer */

footer {
    width: 100%;
    border-top: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgb(200, 196, 196);
}
