:root {
    --vp-c-brand: #fada73;
    --vp-c-brand-light: #fada73;
    --vp-c-brand-dark: #fada73;
    --vp-home-hero-name-color: #fada73;
}

a {
    border-radius: 5px !important;
}

a:hover {
    border-color: var(--vp-c-brand) !important;
}
